<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe %>

<% if logged_in? and current_user.admin? %>
  <p class='pull-right'>
    [<%= link_to 'edit this category', edit_category_path(@category) %>]
  </p>
<% end %>

<%= render 'shared/content_title', title: header %>

<% if @category.posts.empty? %>
  There are no posts in this category!
<% else %>
  <% @category.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% end %>
