<p class='pull-right'>
  [<%= link_to 'edit this category', edit_category_path(@category) %>]
</p>
<p>
  <%= link_to 'Back to category overview', categories_path %>
</p>

<%= render 'shared/content_title', title: @category.name %>

<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

</hr>

